/* Skills */
.skills-container {
  background-color: #151515;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.skill-box {
  width: 17.09%;
  margin: 1%;
  background-color: #2CC383;
  border: 4px solid #2D8764;
  border-radius: 7px;
  position: relative;
  flex-shrink: 0;
  z-index: 10;
}

.skill-box::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.skill-box:hover {
  cursor: pointer;
  animation: shake 2s ease infinite;
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.skill-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 5% auto;
  width: 90.56%;
  height: 74.52%;
  text-align: center;
}

.skill-logo {
  width: 23.43%;
  position: relative;
  background-color: #2D8764;
  border-radius: 100%;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
}

.skill-logo::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.skill-title {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  margin: 9px 0px 9px 0px;
}

div.skill-description {
  width: 100%;
  height: 51.26%;
  background-color: #2D8764;
  border-radius: 10px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 0.65vw;
  text-align: center;
  word-wrap: break-word;
  white-space: normal;
}

.python {
  background-image: url(img/languages/python.svg);
}

.java {
  background-image: url(img/languages/java.svg);
}

.css {
  background-image: url(img/languages/css-3.svg);
}

.js {
  background-image: url(img/languages/js.svg);
}

.nodejs {
  background-image: url(img/languages/nodejs.svg);
}

.electronjs {
  background-image: url(img/languages/electronjs.svg);
}

.reactjs {
  background-image: url(img/languages/reactjs.svg);
}

.mysql {
  background-image: url(img/languages/mysql.svg);
}

.git {
  background-image: url(img/languages/git.svg);
}