@media (min-width: 768px) and (max-width: 1024px) {
    .row {
        overflow: hidden;
        margin-top: 10px;
        height: 90%;
        display: block;
    }

    .skills-centered {
        height: 90%;
    }

    .skill-content {
        width: 20%;
        flex-shrink: 0;
    }

    .first, .second {
        width: 100%;
        height: 10%;
        flex-wrap: wrap;
    }

    .skill-title {        
        font-size: 2vw;
        word-wrap: break-word;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .row {
        overflow: hidden;
        margin-top: 10px;
        height: calc(100% - 30%);
        display: block;
    }

    .skills-centered {
        height: 100%;
    }

    .skill-content {
        width: 17%;
        flex-shrink: 0;
    }

    .canvascontainer {
        width: 80px;
        height: 80px;
    }

    .first, .second {
        width: 100%;
        height: 10%;
        flex-wrap: wrap;
    }

    .skill-title {        
        font-size: 16px;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 480px) {    
    .row {
        overflow: hidden;
        margin-top: 10px;
        height: 90%;
        display: block;
    }

    .canvascontainer {
        width: 30%;
    }

    .skills-centered {
        height: 90%;
    }

    .skill-content {
        width: 20%;
        flex-shrink: 0;
    }

    .first, .second {
        width: 100%;
        height: 10%;
        flex-wrap: wrap;
    }

    .skill-title {        
        font-size: 3vw;
        word-wrap: break-word;
    }
}