@media screen and (max-width: 822px) {
    .row {
        overflow: hidden;
        height: 100%;
        display: block;
    }

    .skills-centered {
        height: 90%;
    }

    .skill-box {
        width: 30%;
        position: relative;
    }

    .skill-description {        
        position: absolute;
        bottom: 10px;
    }

    .skill-description p {
        font-size: 2vw;
    }

    .skill-description::after {
        content: "";
        display: block;
        padding-top: 37%;
    }    

    .skill-content {
        width: 11%;
        flex-shrink: 0;
    }

    .first, .second {
        width: 100%;        
    }

    .skill-title {        
        font-size: 10px;
        word-wrap: break-word;
    }
}