@media screen and (max-width: 822px) {
    .row {
        overflow-y: auto;
    }

    .skills-centered {
        height: 90%;
    }

    .skill-box {
        width: 30%;
        position: relative;
    }

    .skill-description {        
        position: absolute;
        bottom: 10px;
    }

    .skill-description p {
        font-size: 2vw;
    }

    .skill-description::after {
        content: "";
        display: block;
        padding-top: 37%;
    }
}