/* Social */
.social-container {
    background-color: #151515;
}

.social {
    width: 100%;
    display: flex;
    margin-top: 5.1%;
}

.social::after {
    content: "";
    display: block;
    padding-bottom: 9.65%;
}

.social-box {
    width: 8.94%;
    border: 4px solid #2D8764;
    border-radius: 7px;
    background-color: #2BC383;
    margin-right: 1.39%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    outline-offset: 1px;    
}

.social-box:hover {
    cursor: pointer;
    animation: gelatine 0.5s linear;
}

.social-box:active {
    outline: 2px solid #fff;    
}

@keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
  }

.social-name {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 1.25vw;
    text-align: center;
}

.social-icon {
    width: 50%;
    background-color: #2D8764;
    margin: 0 auto;
    border-radius: 100%;
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
}

.social-icon::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.GitHub {
    background-image: url(/public/static/img/social/github.png);
}

.Discord {
    background-image: url(/public/static/img/social/discord.png);
}

.Telegram {
    background-image: url(/public/static/img/social/telegram.png);
}

.globo {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    right: 0;
}
