@media (min-width: 481px) and (max-width: 767px) {
    .social-box {
        width: 60px;
        height: 60px;
    }

    .globo {
        top: 50%;
        bottom: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 480px) {
    .social-box {
        width: 60px;
        height: 60px;
    }

    .social-name {
        font-size: 11px;
    }

    .globo {
        bottom: 0;        
        right: 50%;
        left: 50%;
        transform: translateX(-50%);
        top: unset;
        width: 200px;
        height: 200px;
    }
}
