@media screen and (max-width: 822px) {
    .subjects-container {
        display: block; 
    }

    .school-centered {
        height: 90%;
    }

    .tpsi, .computing-science {
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: 40%;
        position: relative;
    }

    .name {
        font-size: 3vw;
        text-align: center;
    }

    .tpsi h1, .computing-science h1 {
        font-size: 64px;
    }
}