/* School */
.school-container {
  background-color: #151515;
}

.subjects-container {
  width: 100%;
  height: 66.14%;
  display: flex;
  justify-content: space-around;
  margin-top: 6.23%;
}

.tpsi,
.computing-science {
  width: 23.359%;
  height: 80%;
  margin-left: 6.66%;
  position: relative;
}

.tpsi h1,
.computing-science h1 {
  color: var(--aqua-color);
  font-family: var(--morganite);
  font-size: 5vw;
  letter-spacing: 6px;
}

.exercise-box {
  width: 100%;
  height: 70%;
  background-color: #2BC383;
  border-radius: 9px;
  box-shadow: -3px 4px 11px #2BC383;
  position: relative;
  transform: rotate(5deg);
  transform-origin: bottom right;
  margin-top: 7%;
}

.ex-2 {
  position: absolute;
  bottom: -5%;
  right: 5%;
  width: 83.82%;
  height: 62.96%;
  background-color: rgba(43, 195, 131, 0.7);
  box-shadow: -4px 4px 8px rgba(43, 195, 131, 0.7);
  border-radius: 9px;
  transform: rotate(-7deg);
  z-index: -1;
}

.ex-2 .link-preview {
  background-color: rgba(255, 255, 255, .5);
}

.exercise-box_scrolling {
  animation: box-scrolling linear .1s;
}

@keyframes box-scrolling {
  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

.link-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 74.86631016%;
  background-color: #fff;
  border-radius: 9px 9px 0px 0px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25.13368984%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  word-wrap: break-word;
  color: #fff;
}

/* Sites preview */
.chucknorris {
  background-image: url(/public/static/img/projectspreview/ChuckNorrisAPI.png);
}

.colorpicker {
  background-image: url(/public/static/img/projectspreview/Color\ Picker.png);
}

.compito17dic {
  background-image: url(/public/static/img/projectspreview/Compito17Dicembre.png);
}

.decimalebinario {
  background-image: url(/public/static/img/projectspreview/DecimaleBinario.png);
}

.beginneres {
  background-image: url(/public/static/img/projectspreview/Esercizi\ da\ Beginner.png);
}

.fioreanimato {
  background-image: url(/public/static/img/projectspreview/Fiorellino\ Animato.png);
}

.fiorefunctions {
  background-image: url(/public/static/img/projectspreview/Fiorellino\ Funzionato.png);
}

.json {
  background-image: url(/public/static/img/projectspreview/Json.png);
}

.motouniaccelerato {
  background-image: url(/public/static/img/projectspreview/Moto\ Uniformemente\ Accelerato.png);
}

.randomcircles {
  background-image: url(/public/static/img/projectspreview/RandomCircles.png);
}

.sinusoide {
  background-image: url(/public/static/img/projectspreview/Sinusoide.png);
}

.tris {
  background-image: url(/public/static/img/projectspreview/Tris.png);
}

.wfay {
  background-image: url(/public/static/img/projectspreview/wfay.png);
}
