@font-face {
  font-family: "Vermin Vibes";
  src: url(./static/font/Vermin\ Vibes.woff);
}

@font-face {
  font-family: "Morganite";
  src: url(./static/font/Morganite-Light.ttf);
}

:root {
  --vermin-font: "Vermin Vibes";
  --aqua-color: #2BC383;
  --morganite: "Morganite";
  --name-font-size: 6rem;
}

#root {
  width: 100%;
  height: 100vh;
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #151515;
}

.home-container, .aboutme-container {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: relative;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


/* Home */
.aqua-blur, .home-content {
  width: 29.68%;
  height: 31.8%;  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aqua-blur {
  background: rgba(43, 195, 131, 0.5);
  filter: blur(50px);
  border-radius: 100%;
}

.home-content {
  display: grid;
  place-content: center;
}

h1 {
  font-family: var(--vermin-font);
  font-size: var(--name-font-size);
  color: #fff;
}

.my-name {
  color: var(--aqua-color);
  display: flex;
}

.my-work {
  font-family: "Morganite", sans-serif;
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  width: 100%;  
  text-align: center;
}

p {
  text-align: center;
}

.speciality {
  color: var(--aqua-color);
  position: relative;
}

.speciality::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;  
  width: 6px;
  height: 100%;
  animation: border 1s infinite;
}

#particlescnt {
  width: 100%;
  height: 100%;
}

@keyframes border {
  from {
    border-right: 1px solid #fff;
  }
  to {
    border: none;
  }
}

.myname-char {
  padding-left: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myname-char:hover {  
  animation: sas .3s linear;
  color: #94F5CD;
  text-shadow: 2px 0 var(--aqua-color), -2px 0 var(--aqua-color), 0 2px var(--aqua-color), 0 -2px var(--aqua-color),
  1px 1px var(--aqua-color), -1px -1px var(--aqua-color), 1px -1px var(--aqua-color), -1px 1px var(--aqua-color);
}

@keyframes sas {
  0% {
    transform: translateY(0);
    font-size: var(--name-font-size);
  }
  50% {
    transform: translateY(-10px);
    font-size: 80px;
  }
  65% {
    transform: translateY(5px);
    font-size: 85px;
  }
  75% {
    transform: translate(-7px);
    font-size: 82px;
  }
  100% {
    transform: translateY(0);
    font-size: var(--name-font-size);
  }
}


/* About Me */
.aboutme-container {
  background-color: #151515;
  -webkit-box-shadow: 1px -1px 15px 6px #151515; 
  box-shadow: 1px -1px 15px 6px #151515;
}

.aboutme-centered {
  width: 78.59%;
  height: 62.36%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.introduction p {
  text-align: left;
  font-family: "Poppins", sans-serif;
  color: #2bc384a9;
}

.introduction h1 {
  font-family: "Morganite";
  color: var(--aqua-color);
  letter-spacing: 6px;
}

.aboutme-title {
  margin-bottom: 19px;
  color: var(--aqua-color);
  font-weight: 500;
}

.aboutme-description {
  width: 100%;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0;
}

.aboutme-description div {
  width: 42.94%;
}

.aboutme-description div p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

